
@media (min-width: 300px) {
  #mainForm {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 3%;
  }
  #postButton {margin-left: 15px;}
  .skill {display: none;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mainForm {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding-top: 3%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #inputPhone {margin-left: 3%;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
